# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.out$'
      - id: end-of-file-fixer
        exclude: '\.out$'
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        args: [--all, --]
      - id: cargo-check
        args: [--all-targets]
      - id: clippy
        args: [--all-targets, --, -D, warnings]
  - repo: local
    hooks:
      - id: check-config-schema
        name: check config schema is up to date
        entry: bash -c 'cargo run --bin generate_config_schema && git diff --exit-code schemas/codspeed.schema.json'
        language: system
