[package]
name = "runner-shared"
publish = false
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
statrs = { version = "0.18.0", default-features = false }
bincode = "1.3"
log = "0.4"
