name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt, clippy
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: moonrepo/setup-rust@v1

      # Install memtrack for the memory integration tests
      - name: Install dependencies required for libbpf-sys (vendored feature)
        run: sudo apt-get update && sudo apt-get install -y autopoint bison flex
      - name: Install memtrack
        run: |
          cargo install --path crates/memtrack --locked

      - run: cargo test --all --exclude memtrack --exclude exec-harness

  exec-harness-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
      - name: Run tests
        run: cargo test -p exec-harness

  bpf-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: moonrepo/setup-rust@v1
      - name: Install dependencies required for libbpf-sys (vendored feature)
        run: sudo apt-get update && sudo apt-get install -y autopoint bison flex
      - name: Run tests
        run: sudo -E $(which cargo) test
        working-directory: crates/memtrack

  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-codspeed
      - name: Build benchmarks
        run: cargo codspeed build -p runner-shared
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: cargo codspeed run -p runner-shared
