name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodule: true
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt, clippy
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodule: true

      - name: "Install rust-toolchain.toml"
        run: rustup toolchain install
      # We use Swatinem/rust-cache to cache cargo registry, index and target in this job
      - uses: Swatinem/rust-cache@v2

      # Install memtrack for the memory integration tests
      - name: Install dependencies required for libbpf-sys (vendored feature)
        run: sudo apt-get update && sudo apt-get install -y autopoint bison flex
      - name: Install memtrack
        run: |
          cargo install --path crates/memtrack --locked
      - name: Install exec-harness
        run: |
          cargo install --path crates/exec-harness --locked

      - run: cargo test --all --exclude memtrack --exclude exec-harness

  exec-harness-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodule: true
      - uses: moonrepo/setup-rust@v1
      - name: Run tests
        run: cargo test -p exec-harness

  bpf-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodule: true
      - uses: moonrepo/setup-rust@v1
      - name: Install dependencies required for libbpf-sys (vendored feature)
        run: sudo apt-get update && sudo apt-get install -y autopoint bison flex

      - name: Install additional allocators
        run: sudo apt-get install -y libmimalloc-dev libjemalloc-dev

      - name: Run tests
        env:
          RUST_LOG: debug
        run: sudo -E $(which cargo) test -- --test-threads 1 --nocapture
        working-directory: crates/memtrack

      # Since we ran the tests with sudo, the build artifacts will have root ownership
      - name: Clean up
        run: sudo chown -R $USER:$USER .

  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodule: true

      - name: "Install rust-toolchain.toml"
        run: rustup toolchain install
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo codspeed
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed

      - name: Build benchmarks
        run: cargo codspeed build -p runner-shared
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: cargo codspeed run -p runner-shared
